<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>index</title>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>
    <h1>Polls</h1>

    <p>Hello world. {{ owner }} You're at the polls index now.</p>
    
    <p>Question List</p>

    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

</body>
</html>

